header {
    width: 100%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    position: fixed;
    border-bottom: 1px solid rgba(0,0,0,.07);
    overflow:hidden;
    z-index: 99;
}

header > div {
    height: 45px;
    position: relative;
    margin: 0;
    display:flex;
    vertical-align: middle;
}

div > {
    display:flex;
}

img {
    width: auto;
    height: 100%;
}

#left {
    /* width: 20%; */
    height: 100%;
    padding: 20px 30px;
    position: relative;
    /* background: green; */
    /* float: left; */
    overflow-y: auto;
}

#left li {
    list-style-type: none;
    /* padding-left: 1em; */
}

#left ul {
    padding-left: 1.5em;
}

/* #left > details, p {
    background: rgb(192, 192, 192);
} */

#left > details > p {
    margin: 0;
    padding: 0;
}

#left > details > ul {
    margin-top: 0;
}

::-webkit-details-marker {
    display: none;
}

::-moz-list-bullet {
    font-size: 0;
}

#left a {
    text-decoration: none;
    color: rgb(56, 56, 56);
    line-height: 1.5em;
}

#left a:hover {
    text-decoration: underline;
}

#left a.selected {
    color: rgb(90, 151, 201);
}

#left li {
    margin: 5px 0;
}

#left details {
    position: relative;
}

#left div, ul, li, a, p {
    position: relative;
}

#left summary:focus {
    outline-style:none;
}

#left summary::after {
    content: '';
    position: absolute;
    width: 1em; height: 1em;
    margin: 0.2em 0.5em;
    background: url(image/arrow-on.svg) no-repeat;
    background-size: 100% 100%;
    transition: transform .2s;
}

#left [open] summary::after {
    transform: rotate(90deg);
}

#right {
    /* width: 7%; */
    min-height: 100%;
    padding: 0px 40px 20px 40px;
    /* margin-top: 20px; */
    /* background: blue; */
    /* float: left; */
}

footer {
    width: 100%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    /* background: gray; */
    overflow: hidden;
    bottom: 0px;
    line-height: 60px;
    text-align: center;
    color: gray;
    margin-top: 30px;
}

.wrapper {
    min-height: 100%;
}

.wrapper-left {
    width: 23%;
    height: 100%;
    float: left;
    border-right: 1px solid rgba(0,0,0,.07);
    position: fixed;
}

.wrapper-right {
    width: 77%;
    height: 100%;
    float: right;
    margin-bottom: 8px;
}

.inner-wrapper {
    padding-top: 45px;
    width: 100%;
    height: 100%;
    position: absolute;
}

html {
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    height:100%;
    /* background-image: url(about:blank);
    background-attachment:fixed; */
}

body {
    margin-top: 0;
	position: relative;
	height:100%; 
	margin-left: auto;
    margin-right: auto;
    /* background-image: url(about:blank);
    background-attachment:fixed; */
}
